@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Assistant", sans-serif;
}

.banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.banner-text {
  text-align: center;
}

.banner-text p {
  color: rgb(145, 150, 154);
}

.about-us {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.about-us-text {
  text-align: center;
}

.special-offer {
  background-image: url(../img/background-space.png);
}

.services {
  background-image: url(../img/services-background.webp);
  background-size: cover;
  background-position: center;
  min-height: 300px;
}

.services-list {
  padding: 110px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.services-list img {
  display: block;
  width: 25%;
}

.home-and-office {
  background-image: url(../img/background-home.svg);
  background-size: cover;
  background-position: center;
  min-height: 300px;
}

.hosting-and-storage {
  background-image: url(../img/background-hosting.svg);
  background-size: cover;
  background-position: center;
  min-height: 300px;
}

.wi-fi-hotspots {
  background-image: url(../img/background-wi-fi.svg);
  background-size: cover;
  background-position: center;
  min-height: 300px;
}

#contacts {
  background-image: url(../img/background-satellite.webp);
}

.contact-form {
  background-color: rgba(35, 44, 53, 0.85);
}

input {
  color: rgba(40, 49, 57, 0.6);
}

.partners {
  background-color: rgb(245, 243, 236);
}

.end {
  background-color: rgb(2, 2, 31);
}
