@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;600;800&display=swap");

:root {
  font-family: "Assistant", sans-serif;
  line-height: 1.5;
  --main-color: black;
  --accent-color: white;
  --paragraph-color: rgb(145, 150, 154);
  --nav-hover-color: rgba(0, 0, 255, 0.555);
  --about-us-background-color: white;
}

* {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* Container */
.container {
  width: 100%;
  max-width: 980px;
  margin: auto;
  align-items: center;
}

/* Buttons */
.btn-main {
  display: inline-block;
  font-size: 14px;
  vertical-align: top;
  padding: 10px 30px;
  color: var(--accent-color);
  background-image: linear-gradient(#7eb8e4, #4ea0e4 50%, #1d82d4);
  border: 1px solid;
  text-align: center;
  text-decoration: none;
  transition: color 0.7s;
  box-shadow: rgba(218, 215, 231, 0.5) 3px 3px;
}

.btn-main:hover {
  color: var(--accent-color);
  background-image: linear-gradient(#1d82d4, #4ea0e4 50%, #7eb8e4);
}

/* Header */
.header {
  background-image: url(../img/background-banner.svg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  top: 30px;
  left: 0;
  right: 0;
}

.header-logo {
  margin: 10px;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Nav */
.nav .nav-link {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  color: var(--main-color);
  vertical-align: top;
  margin: 0 20px;
  text-decoration: none;
  transition: color 0.2s linear;
}

.nav-link:hover {
  color: var(--nav-hover-color);
}

.social-media-links {
  margin: 0 3px;
  text-decoration: none;
}

/* Banner */
.banner {
  margin: 100px 0px 0px 0px;
}

@media (min-width: 600px) {
  .banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.banner-image {
  position: relative;
  padding-bottom: 30px;
}

.banner-image img {
  width: 100%;
  height: auto;
}

.banner-text {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-bottom: 150px;
}

.banner-title {
  color: var(--main-color);
  font-size: 85px;
  font-weight: 700;
  line-height: 1;
}

.banner-paragraph {
  margin: 20px 50px 50px 50px;
  color: var(--paragraph-color);
  font-size: 18px;
}

/* Main */
.about-us-background {
  background-image: url(../img/background-about-us.svg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
}

.about-us {
  padding-top: 100px;
  margin-bottom: 30px;
}

@media (min-width: 600px) {
  .about-us {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
  }
}

.about-us-image {
  position: relative;
}

.about-us-image img {
  width: 100%;
  height: auto;
}

.about-us-text {
  background-color: var(--about-us-background-color);
}

@media (max-width: 600px) {
  .about-us-text {
    margin-top: 50px;
  }
}

/* Services */
#services {
  background-image: url(../img/services-background.webp);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  color: var(--accent-color);
  align-items: center;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

article.home-office {
  background-image: url(../img/background-home.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

article.hosting-storage {
  background-image: url(../img/background-hosting.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

article.wifi-hotspots {
  background-image: url(../img/background-wi-fi.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Connected */
.connected-background {
  background-image: url(../img/background-connected.webp);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  color: var(--accent-color);
}
